{% extends 'recipebook/base.html' %}
{% load static %}

{% block title %}Рекламодатеям{% endblock %}

{% block content %}
    <main class="common">
        <section class="outer-block">
            <h1>Рекламодателям</h1>

            <h4>Рекламные возможности:</h4>
            <p>
                Брендирование и баннерная реклама — классические форматы, а также мобильные форматы.
                <br>
                Спецпроекты — размещение PR статей, фотоконкурсы/конкурсы рецептов.
            </p>

            <h4>Рекламная статья</h4>
            <p>
                Один из вариантов размещение рекламы на проекте art-lunch.ru происходит путем
                публикации статей о вашей компании, товарах или услугах. Статьи могут быть написаны
                в
                виде советов, отзывов или иметь общий информационный характер. Размещается анонс на
                главной странице минимум на 14 дней. Статьи размещаются на постоянной основе и дают
                рекламодателю продолжительный эффект.
                <br>
                Статья предоставляется заказчиком в формате txt или doc в окончательно
                отредактированном
                виде. Объем текста статьи — до 10 000 символов. Внутри текста могут быть размещены
                до
                3-х ссылок на сайт заказчика. Графические изображения: 4-5 штук предоставляются
                заказчиком в одном из форматов gif/jpeg/png. Стоимость 3 000 рублей.
            </p>

            <h4>Интеграция бренда в рецепты</h4>
            <p>
                Предполагает использование рекламируемого продукта заказчика в рецепте. Стоимость 40
                000
                рублей за 5 рецептов, длительность акции 1 год. <br>
                — Рецепт или производится с использованием рекламируемого продукта заказчика (если
                продукт редкий или дорогой, то предоставляется заказчиком) или ингредиент
                интегрируется
                в уже существующий рецепт на сайте (рецепт переснимается с рекламируемым продуктом).
                <br> —
                Название продукта присутствует по тексту рецепта и в исходных ингредиентах. <br> —
                Анонс
                фото-рецепта с рекламируемым продуктом размещается на 1 месяц на главной странице
                сайта. <br> — На финальной фотографии готового блюда возможно размещение
                рекламируемого
                продукта. <br> — Редакция в праве отказать заказчику, если рекламируемый продукт
                ненадлежащего качества.
            </p>

            <h4>Другие рекламные возможности</h4>
            <p>
                — Создание брендированной страницы или целого раздела вашей компании, её размещение
                и
                реклама; <br> — Ведение ваших специальных и промо-проектов на сайте; <br> —
                Спонсорство
                разделов сайта.
            </p>

            <h4 class="end">По вопросам размещения рекламы на art-lunch.ru обращайтесь по
                электронной почте:
                imbirnyyd@mail.ru</h4>

        </section>
    </main>
{% endblock %}