{% extends 'recipebook/base.html' %}
{% load static %}

{% block title %}Помощь{% endblock %}

{% block content %}
    <main class="common">
        <section class="outer-block">
            <h1>Помощь</h1>
            <h4>Регистрация</h4>
            <p>
                Что делать, если вы не получили письмо с подтверждением регистрации? Такое может
                случиться по нескольким причинам. Либо письмо попало в спам, либо вы неправильно
                ввели
                свой email при заполнении формы редактирования. Напишите нам о возникшей проблеме
                на support@edimdoma.ru, указав свой
                e-mail и имя пользователя
            </p>

            <h4>Публикация рецепта</h4>
            <p>
                Создание и публикация рецепта — 1 балл<br>
                Описание к рецепту — 1 балл к публикации<br>
                Фото в шагах рецепта — 1 балл к публикации за каждое пошаговое фото<br>
                Добавление ингредиента к шагу (необязательно для публикации рецепта) — 1 балл к
                публикации рецепта<br>
                Рецепт дня (если ваш рецепт стал Рецептом дня) — 10 баллов<br>
                Рецепт месяца (если ваш рецепт стал Рецептом месяца) — 100 баллов<br>
                Добавление рецепта в кулинарную книгу (если ваш рецепт добавил к себе в книгу другой
                пользователь) — 1 балл автору рецепта<br>
                Добавление фотоотчета к рецепту (если вы добавили фотоотчет к рецепту другого
                пользователя, учитывается факт добавления, а не количество добавленных к фотографии)
                — 5 баллов автору фотоотчета<br>
                Если рецепт был убран автором в черновики или удален с сайта, то с автора снимаются
                все
                баллы, ранее начисленные за этот рецепт.
            </p>

            <h4>Публикация постов</h4>
            <p>Создание и публикация поста — 3 балла</p>

            <h4>Комментарии</h4>
            <p>Добавления комментария (если вы написали комментарий к рецепту, посту, фотографии и
                т.д.)
                — 1 балл автору комментария</p>

            <h4>Конкурсы</h4>
            <p>
                Участие в конкурсе — 1 балл<br>
                Победа в конкурсе (если ваш рецепт стал одним из победителей в конкурсе) — 10 баллов<br>
                Примечание: ранее за участие в конкурсах баллы не начислялись, пересчет рейтинга
                авторов
                с учетом новой позиции был сделан за все конкурсы, которые на данный момент есть в
                разделах «Архив конкурсов».
            </p>

            <h4>Кулинарные битвы</h4>
            <p>
                Участие в битве (если в битву оба участника загрузили рецепты, и битва состоялась) —
                1
                балл<br>
                Победа (если ваш рецепт стал победителем битвы) — 3 балла<br>
                Примечание: ранее за кулинарные битвы баллы не начислялись, пересчет рейтинга с
                учетом
                новой позиции был сделан за все состоявшиеся битвы на сайте, в которых есть
                победитель.
                Напоминаем, что автор может принимать участие во внутренних голосованиях на сайте,
                когда
                его рейтинг достигает 100 баллов.
            </p>

        </section>
    </main>
{% endblock %}