{% extends 'recipebook/base.html' %}
{% load static %}

{% block title %}Правила сайта{% endblock %}

{% block content %}
<main class="common">
    <section class="outer-block">
        <h1>Правила</h1>

        <h4>Основные понятия:</h4>
        <p>
            Сайт — совокупность веб-страниц, размещенных в сети Интернет и объединенных общим доменным именем edimdoma.ru,
            единой темой, логической структурой, дизайном и оформлением. <br>
            Администрация — правообладатель Сайта <br>
            Пользователь — лицо, осуществляющее доступ к Сайту. <br>
            Результаты интеллектуальной деятельности/Произведения — охраняемые в соответствии с действующим
            законодательством
            Российской Федерации результаты интеллектуальной деятельности и/или средства индивидуализации, созданные
            творческим
            трудом одного или нескольких лиц. Все права на материалы, находящиеся на сайте, охраняются в соответствии с
            действующим законодательством Российской Федерации, в том числе, Частью IV Гражданского Кодекса Российской
            Федерации. Копирование материалов сайта возможно только с разрешения Администрации. <br>
            Персональная страница пользователя — раздел сайта, в котором размещена информация о пользователе, его
            персональные
            данные, рецепты, кулинарная книга, друзья, группы, другая информация. Персональная страница пользователя также
            дает
            возможность другим пользователям отправлять ему личные сообщения, предложения дружбы, а также оставлять
            сообщения,
            доступные для прочтения и комментирования другим пользователям. <br>
            Правообладатель — лицо, обладающее исключительным правом на Результаты интеллектуальной деятельности, либо лицо,
            владеющее исключительной лицензией на использование Результатов интеллектуальной деятельности. <br>
            Настоящее Пользовательское соглашение (далее — Соглашение) регламентируют отношения между Администрацией Сайта и
            Пользователем, касающиеся использования Сайта, обработки персональных данных Пользователя.
        </p>

        <h4>Администрация настоящим дает Пользователю разрешение получить доступ к сервисам сайта и использовать Сайт при
            соблюдении следующих условий:</h4>
        <ul>
            <li>Пользователь не вправе копировать и распространять материалы с Сайта;</li>
            <li>Пользователь не вправе изменять и модифицировать какую-либо часть Сайта;</li>
            <li>Пользователь не вправе размещать на Сайте информацию и объекты (включая ссылки на них), которые могут
                нарушать имущественные и неимущественные права и интересы других лиц;
            </li>
            <li>Пользователь обязуется не совершать и не пытаться совершать следующие действия: вмешиваться в любые
                связанные с безопасностью элементы Сайта или элементы, которые предотвращают или ограничивают использование,
                или копирование любой информации либо налагают ограничения на использование Сайта или информации, доступ к
                которой может быть получен на Сайте.
            </li>
            <li>Пользователь обязуется не использовать Сайт, а также любую информацию и материалы, размещенные на сайте, в
                коммерческих целях без предварительного письменного разрешения Администрации.
            </li>
            <li>Пользователь обязуется не использовать и не вводить никакую автоматизированную систему (включая, среди
                прочего, любого робота, «паука» или автономный считыватель), которая дает доступ к Сайту таким образом, при
                котором на серверы Сайта направляется больше запросов в течение определенного периода времени, чем человек
                может направить в такой же период посредством использования общедоступного стандартного (т. е. не
                модифицированного) веб-браузера;
            </li>
            <li>Пользователь не имеет права осуществлять сбор, хранение, использование и распространение информации о других
                пользователях;
            </li>
            <li>Пользователь может использовать материалы Сайта без получения предварительного согласия Администрации только
                в личных целях.
            </li>
            <li>Цитирование текстов (статей), размещенных на Сайте, возможно исключительно при условии указания Сайта как
                источника и размещении гиперссылки на Сайт, гиперссылка должна располагаться в начале воспроизводимого
                текста (статьи).
            </li>
        </ul>

        <h4>Пользователь обязуется не размещать на Сайте и не направлять куда-либо посредством Сайта любые информацию,
            материалы следующего характера:</h4>
        <p>
            - нарушающие законодательство Российской Федерации, содержащие угрозы, сообщения непристойного характера и/или
            содержащие оскорбляющие и/или дискредитирующие других лиц данные, нарушающие права граждан на неприкосновенность
            личной и частной жизни, посягающие на общественный порядок;<br>
            - содержащие бранные слова, непристойные и оскорбительные образы, сравнения и выражения, в том числе в отношении
            пола, расы, национальности, профессии, социальной категории, возраста, языка человека и гражданина, официальных
            государственных символов (флагов, гербов, гимнов), религиозных символов, объектов культурного наследия
            (памятников истории и культуры);<br>
            - способствующие или содержащие попытки разжигания вражды или призывы к насилию;<br>
            - побуждающие других лиц на противоправное поведение, влекущее уголовную, административную, гражданско-правовую
            и
            иную ответственность или каким-либо образом нарушающие положения законодательства РФ;<br>
            - разглашающие информацию, представляющую или создающие риск для конфиденциальности или безопасности данных
            любого
            лица;<br>
            - содержащие или распространяющие информацию, которая является недостоверной, вводит в заблуждение;<br>
            - содержащие или распространяющие результаты творческой деятельности других лиц, защищенных законодательством об
            интеллектуальной собственности, например, предоставляющие контрафактную продукцию или содержащие ссылки на нее,
            предоставляющие информацию о том, как обойти установленную производителем защиту от копирования;<br>
            - предполагающие пересылку спама или незапрашиваемую массовую рассылку, использование средств моментального
            обмена
            сообщениями, пересылку спама с использованием средств моментального обмена сообщениями или рассылку спама;<br>
            - содержащие изображение человека, размещенное без его разрешения;<br>
            - иные материалы, которые, по мнению Администрации Сайта, нарушают положения настоящего Соглашения.
        </p>

    </section>
</main>

{% endblock %}